SANADK_SERVER_URL=http://localhost:6000
SANADK_REST_ENDPOINT=http://localhost:8000/devices
SANADK_API_TOKEN=
DEVICE_DEFAULT_NAME=polar-h9
SOCKET_NAMESPACE=/
LOG_LEVEL=info

# Bluetooth scan filter (optional): specify part of device name to match
BLE_NAME_FILTER=Polar
